/* TO DO:
// benign change to update main branch
 */

#maintenance {
  padding-top: 100px;
}

/*----------------platform agnostic-----------------*/
.center {
  text-align: center;
  margin: 0 auto;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container > div {
  padding: 6px;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #1D1D4C;
  font-family: 'Montserrat';
} 

#company-logo {
  width: 50%;
  max-width: 300px;
}

/* UTILITIES */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } */
 a {
  text-decoration: none;
  color: #1D1D4C;
  border-color: #009DFF;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
 }
 a:hover {
  color: #009DFF;
  border-bottom: 1px solid;
 }
 li {
  list-style: none;
 }

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #1D1D4C;
 }

 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  color: #009DFF;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 /* DROPDOWN MENU */
 /* .services {
  position: relative; 
 }
 .dropdown {
  background-color: #009DFF;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color: #009DFF;
 }
 .services:hover .dropdown {
  display: block;
 } */

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

#main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #home-section {
  display: table;
}

#home-section div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */

#home-banner {
  width: 95%;
  max-width: 750px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #009DFF;
  background-color: #1D1D4C;
}

footer a {
  color: #009DFF;
}

footer p {
  margin: 0;
  font-size: xx-small;
}

#tag_bottomrightcorner {
  font-size: 1em;
  text-align: right;
  margin: 0;
}


/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
  /* .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  } */
  /* .dropdown li:hover {
    background-color: #009DFF;
  } */


  /* #home-section {
    display: block;
  }

  #home-section-blurb {
    width: 100%;
  } */
}